@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    max-width: 1440px;
    background: url(./images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}
.head-container{
    max-width: 1140px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head-title{
    font-size: 4rem;
    color: rgb(255, 255, 255);
}
.head-description{
    font-size: 1.23rem;
    color: #fff;

}
.Donate-btn{
    margin-top: 20px;
    font-size: 1.25rem;
    padding: 10px 20px;
    height: 54px;
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    color: #fff;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.donate-section{
    max-width: 800px;
    margin: 0 auto;
}
.amount-section{
    text-align: center;
}
.amount-section h1{
    font-size: 3rem;
}
.amount-section p{
    font-size: 1.1rem;
}
.btn-container{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.btn-container .taka{
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(77, 75, 75);
    margin: 0 auto;
    height: 123px;
    width: 135px;
    border-radius: 5px;
}
.extra-amount{
    margin-top: 50px;
    text-align: center;
}
.extra-amount #inp{
    border: none;
    outline: none;
    font-size: 1.26rem;
    margin-bottom: 5px;
    text-align: center;
}
.donate-plan{
    margin-top: 80px;
    margin-bottom: 80px;
}
/* Donate-plan */
.box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    margin-top: 50px;
}
.box-container .box{
    padding: 63px 22px 54px 23px;
    border-radius: 8px;
}
.box-container .box .box-title{
    font-size: 1.5rem;
}
.box-container .box-1{
    background-color: #4f9da632;
}
.box-container .box-2{
    background-color: #ff59593b;
}
.box-container .box-3{
    background-color: #0b27b12f;
}
/* dination */
.donation-container{
    display: flex;
    gap: 83px;
    margin-bottom: 80px;
}
.donation-container .text-title{
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.donation-container .text-description{
    margin-bottom: 10px;
    color: rgb(71, 70, 70);
}
.donation-container .img{
    width: 50%;
}
/* get-update */
.get-update{
    max-width: 803px;
    margin: 0 auto;
    text-align: center;
}
.get-update .get-title{
    font-size: 3rem;
}
.get-update .get-description{
    color: rgb(106, 104, 104);
    margin-bottom: 50px;
}
.get-color{
    max-width: 805px;
    height: 200px;
    background-color: #ff595957;
    display: flex;
    justify-content: center;
    align-items: center;
}
.get-color input{
    font-size: 1.36rem;
    padding: 10px 20px;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.get-color button{
    font-size: 1.36rem;
    padding: 10px 20px;
    border: none;
    background-color: #FF5959;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
}
.last{
    margin-top: 130px;
    width: 100%;
    text-align: center;
    height: 177px;
    background-color: #0B0D17;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:576px) {
    .get-color input,.get-color button{
        border-radius: 5px;
        font-size: 0.8rem;
    }
    .get-color{
        flex-direction: column;
        gap: 10px;
    }
    .get-update{
        margin: 30px 20px;
    }
    .get-update .get-title{
    font-size: 2rem;
    }
    .head-title{
        font-size: 2rem;
    }
    .amount-section h1{
    font-size: 2rem;
    }
    .btn-container .taka{
        font-size: 1.11rem;
        font-weight: 700;
        color: rgb(77, 75, 75);
        margin: 0 auto;
        height: 63px;
        width: 100px;
    }
    .btn-container{
        gap: 10px;
    }
    .donate-section{
        margin: 0 20px;
    }
    .donate-plan{
        margin: 10px 20px;
    }
    .box-container{
        grid-template-columns: 1fr;
    }
    .donation-container{
    flex-direction: column;
    gap: 30px;
    text-align: center;
    }
    .donation-container .img{
    width: 100%;
    }
    .donation-container .text-title{
        font-size: 2rem;
    }
    .donation{
        margin: 20px;
    }
    .donation .another{
        flex-direction: column-reverse;
    }

}